APP_NAME="Asset Management System"
APP_ENV=local
APP_KEY=base64:dC9SOUl1SzhhNTVlTVV3SXRrc1J2QUx5VGQ3aDdxYjU=
APP_DEBUG=true
APP_TIMEZONE=Asia/Jakarta
APP_URL=http://localhost:8000

APP_LOCALE=id
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=id_ID

DB_CONNECTION=pgsql
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=asset_db
DB_USERNAME=postgres
DB_PASSWORD=secret

SESSION_DRIVER=database
SESSION_LIFETIME=120

FILESYSTEM_DISK=public
