image: docker:24.0.5
services:
  - docker:24.0.5-dind

variables:
  DOCKER_DRIVER: overlay2
  IMAGE_TAG: $CI_REGISTRY_IMAGE:main

stages:
  - build
  - deploy

build_image:
  stage: build
  script:
    - echo "Login ke GitLab Registry..."
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - echo "Build Docker Image..."
    - docker build -t $IMAGE_TAG .
    - echo "Push Image ke Registry..."
    - docker push $IMAGE_TAG

deploy_production:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk update && apk add openssh-client
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
  script:
    - echo "Mulai Deploy ke Server GCP..."
    - ssh $SSH_USER@$SSH_IP "
        echo '1. Login ke Registry...';
        docker login registry.gitlab.com -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD;
        
        echo '2. Stop & Hapus Container Lama...';
        docker stop web-simulasi || true;
        docker rm web-simulasi || true;
        
        echo '3. Tarik Image Terbaru...';
        docker pull $IMAGE_TAG;
        
        echo '4. Jalanin Container Baru (Dengan Volume)...';
        docker run -d -p 80:8000 -v /home/$SSH_USER/db_production.sqlite3:/app/db.sqlite3 --name web-simulasi $IMAGE_TAG;

        echo '5. Setup Database Otomatis...';
        docker exec web-simulasi python manage.py migrate;
        docker exec web-simulasi python manage.py collectstatic --noinput;
      "
    - echo "Deploy Selesai! Web sudah terupdate dan Database aman."