image: docker:24.0.5
services:
  - docker:24.0.5-dind

variables:
  DOCKER_DRIVER: overlay2
  IMAGE_TAG: $CI_REGISTRY_IMAGE:main

stages:
  - build
  - deploy

build_image:
  stage: build
  script:
    - echo "Login ke GitLab Registry..."
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - echo "Build Docker Image..."
    - docker build -t $IMAGE_TAG .
    - echo "Push Image ke Registry..."
    - docker push $IMAGE_TAG

deploy_production:
  stage: deploy
  image: alpine:latest
  before_script:
    # Persiapan alat tempur SSH
    - apk update && apk add openssh-client
    - eval $(ssh-agent -s)
    # Masukin kunci rahasia ke agen SSH
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    # Biar gak ditanya "Are you sure?" pas connect pertama kali
    - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
  script:
    - echo "Mulai Deploy ke Server GCP..."
    # Login ke server GCP lewat pintu belakang (SSH) dan jalanin perintah update
    - ssh $SSH_USER@$SSH_IP "
        echo '1. Login ke Registry...';
        docker login registry.gitlab.com -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD;
        
        echo '2. Stop & Hapus Container Lama...';
        docker stop web-simulasi || true;
        docker rm web-simulasi || true;
        
        echo '3. Tarik Image Terbaru...';
        docker pull $IMAGE_TAG;
        
        echo '4. Jalanin Container Baru...';
        docker run -d -p 80:8000 --name web-simulasi $IMAGE_TAG;
      "
    - echo "Deploy Selesai! Web sudah terupdate."