# Abaikan folder virtual environment
env/
venv/

# Abaikan file sampah Python
__pycache__/
*.pyc

# 🚨 INI YANG PALING PENTING: Abaikan file rahasia 🚨
.env

# Abaikan database lokal SQLite (walaupun lo udah pake Postgres)
db.sqlite3

# Abaikan folder static kumpilan (biar enteng pas di-push)
staticfiles/
static/

# Abaikan settingan VS Code
.vscode/